<h1>All the pins!!!</h1>
<% @pins.each do |pin| %>

	<% if pin.image %>
	<p><img src="<%= pin.image %>" alt=""></p>
	<% end %>
	<p><h4><a href="/pins/	<%= pin.id %>">	<%= pin.url %></a></h4></p>

<% end %>